Header set X-Robots-Tag "noindex, nofollow, noarchive"

<FilesMatch "data\.json$">
  Header set Cache-Control "no-cache, no-store, must-revalidate"
  Header set Pragma "no-cache"
</FilesMatch>
<FilesMatch "\.html$">
  Header set Cache-Control "public, max-age=3600"
</FilesMatch>
